/* generic styles */
body {
  margin:0;
  padding:0;
  background:black;
  font-family:'Source Sans Pro', sans-serif;
}


a {
  color:olivedrab;
  text-decoration: none;
}

/* specific things */

/* sidebar left */

.directory a:hover {
  color:wheat;
}
.directory a:last-child {
  font-weight:700;
  color: olivedrab;
}

.main-nav {
  position:fixed;
  top:0;
  left:0;
  padding:1em;
}
.directory {
  margin-left:1em;
  color: red;
}

.main-nav ul {
  list-style:none;
  line-height:1.5em;
}
.main-nav a:hover {
 color:tan;
}

.active a {
  font-weight:700;
  color:forestgreen;
}

/* sidebar right */
.nav-contents {
  position:fixed;
  top:0;
  right:1em;
  padding:1em;
}
.nav-contents ul {
  list-style:none;
  margin:0 1em;
  padding:0;
  color: steelblue;
}
.nav-contents ul li:first-child {
  border-bottom:1px solid paleturquoise;
  padding-bottom:0.2em;
  margin-bottom:0.4em;
}
.nav-contents:hover {
  opacity:1;
}
.layer2 {
  margin-left:1em;
}
.nav-contents a:hover {
  color: steelblue;
}

/* content */

.main-content {
  margin:0 auto;
  max-width:750px;
  color:wheat;
  border-left:1px solid paleturquoise;
  border-right:1px solid paleturquoise;
}
.article {
  margin:2em 3em;
}
pre {
  border:1px solid #aaa;
  overflow:hidden;
}
pre code {
  overflow-x:scroll;
}
.article a {
  font-weight:600;
  color:salmon;
}
.article a:hover {
  text-decoration:underline;
}
p code, li code  {
  background:black;
  color:limegreen;
  border:1px solid paleturquoise;
  padding:0.1em 0.2em;
}
.article h1 {
  color: cadetblue;
  font-weight:700;
  font-size:30pt;
  padding:6pt 0;
  margin:0;
}
.article h2 {
  color: lightsteelblue;
  padding:3pt 0;
  margin:0;
  font-weight:600;
}
.article p {
  white-space:pre-wrap;
  line-height:1.5em;
  line-break: strict;
}
.article h1, .article h2 {
  position:relative;
}
.section-anchor {
  position:absolute;
  font-weight:400;
  left:-0.8em;
}
.section-anchor a {
  color:maroon;
}
.section-anchor a:hover {
  color:firebrick;
}

